main {
    background: rgb(184, 32, 32);
    height: 100vh;
}
main > div {
    background: white;
    width: 60%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 10px 3px black;
}
main > div > .post {
    border: solid;
    padding: 20px;
    width: 700px;
}